<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QuickFix Troy</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Caveat|Dosis" rel="stylesheet">
</head>
<body >
    <nav class="navbar navbar-expand-sm ">
            <a class="navbar-brand" style="opacity: 1;" href="/"><img src="/images/favicon.ico"  width="200" height="200"/></a>
                <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
                        aria-controls="collapsibleNavId"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavId">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" style="font-family: Caveat; color:#78B63F;" href="/"><h2>Home</h2> <span class="sr-only">(current)</span></a>
                        </li>
                    

                    </ul>

                </div>
            </nav>
<h1>User dashboard</h1>
</body>
</html>
